h1, h2 {
  font-family: 'Playfair Display', serif;
}
.navbar {
  margin-bottom: 0;
  background: rgba(110, 182, 241, 0.0);
  border-width: 0;
  position: fixed;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  z-index: 10;
}
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-toggle {
  background-color: rgba(110, 182, 241, 0.5);
}
.navbar-default .navbar-toggle:hover {
  background-color: rgba(110, 182, 241, 0.5);
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle:focus {
  background-color: rgba(110, 182, 241, 0.5);
}
.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li:hover {
  background-color: white;
}
.navbar-default .navbar-nav > li > a:hover {
  color: rgb(110, 182, 241)
}
.jumbotron {
  height: 100vh;
  background: url('https://res.cloudinary.com/dl9xyhypx/image/upload/v1519334193/mri/mri7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  margin-bottom: 0;
}
.titleContainer {
  color: rgb(0, 29, 82);
  text-align: center;
  margin: auto;
}
.titleContainer h1, .titleContainer p {
  text-shadow: 1px 1px 3px rgb(212, 212, 212), -1px -1px 3px rgb(212, 212, 212);
}
.titleContainer h1 {
  font-family: 'Playfair Display', serif;
}
.titleContainer p {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
}
.about {
  padding: 0 1.5em;
  font-family: 'Montserrat', sans-serif;
}
.about h2 {
  text-align: center;
}
.about p {
  text-align: justify;
}
.info {
  background-color: rgb(193, 227, 255);
  overflow: auto;
}
.info p {
  padding: 0;
  margin: 0.5rem 0;
  text-transform: uppercase;
  font-size: 1.25rem;
}
.gallery {
  padding: 0 2.5em;
}